.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center ;
    display: flex;
    justify-content: center;
}

.modal-content{
    width: 500px;
    background-color: white;
}

.right-button{
    width: 57px;
    height: 28px;
    border-radius: 14%;
    border: none;
}

.left-button{
    width: 57px;
    height: 28px;
    border-radius: 14%;
    border: none;
    margin-right: 10px;
}